.t-center {
    text-align: center;
}
.c-vue { 
    color: $c-vue; 
}
.btn {
    border: 2px solid $c-color6;
    border-radius: 5px;
    padding: 8px 18px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    transition: all .59s ease;
    &:hover {
        background: $c-color6;
        color: $c-color4;
    } 
}

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-top-1 {
    margin-top: 1rem;
}

.z-index {
    z-index: 3;
}
