@import url("https://use.typekit.net/jdh7noy.css");
$font-normal: paralucent, sans-serif;

.p, p {
  // font-family: $font-article;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 1.5rem 0 1rem;
  font-family: $font-normal;
  font-weight: 500;
  line-height: 1.15;
}

.t-logo {
  font-size: 1.333em;
  margin: 0;
}

.t1 {
  margin-top: 20px;
  font-size: 4.209em;
}

.t2 {font-size: 3.157em;}

.t3 {font-size: 2.369em;}

.t4 {font-size: 1.777em;}

.t5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}