// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #52C5F2
$secondary = #1bb15a
$accent    = #ffa500

$positive  = #21BA45
$negative  = #fa4011
$info      = #31CCEC
$warning   = #ffa500

@import '~quasar-variables-styl'
