// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #ffa500
$secondary = #21BA45
$accent    = #52C5F2

$positive  = #21BA45
$negative  = #fa4011
$info      = #31CCEC
$warning   = #ffa500

@import '~quasar-variables-styl'
