$c-color1: #fa4011;
$c-color2: rgba(18, 133, 66, 0.151);
$c-color3: #011118;
$c-color4: #0c2029;
$c-color5: #031825;
$c-color6: #ffa500;
$c-color7: #52C5F2;
$c-color8: #e07800;
$c-default: #d3d3d3;
$c-vue: #1bb15a;

$gradient: linear-gradient(to right top, #03121b, #0e161d, #161920, #1c1d22, #212124, #212125, #222226, #222227, #1d1f27, #161c27, #0e1a27, #011827);

$gradient-two: linear-gradient(to right top, #163a48, #003a42, #003938, #00372a, #08341a);

$gradient-three: linear-gradient(to right top, #063034, #023139, #00313e, #023142, #083146);