$c-color1: #fa4011;
$c-color2: rgba(31, 179, 238, 0.61);
$c-color3: #0d3a4d;
$c-color4: #052133;
$c-color5: #03121b;
$c-color6: #52C5F2;
$c-color7: #ffa500;
$c-color8: #e07800;
$c-default: #f2f2f2;
$c-vue: #00C853;

$gradient: linear-gradient(to right bottom, #052133, #062638, #082a3d, #092f41, #0b3446, #0c3344, #0d3141, #0e303f, #0d2836, #0b212d, #091a24, #03121b);

$gradient-two: linear-gradient(to right bottom, #063034, #023139, #00313e, #023142, #083146);

$gradient-three: linear-gradient(to right top, #063034, #023139, #00313e, #023142, #083146);